html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  /* background: url(https://media.gettyimages.com/photos/falling-green-hop-isolated-on-white-background-clipping-path-full-of-picture-id1073216670?b=1&k=6&m=1073216670&s=170667a&w=0&h=TNt5ia6giGI1SH5beou3LcBrMuIjNz31ijaL0pkVThg=); */
  background: url('https://img.freepik.com/free-photo/beer-green-hops-malt-stone-surface-top-view_220925-3674.jpg?size=626&ext=jpg');
  background-size: cover;
}

img {
  display: inline-block;
  max-width: 100%;
}

ul { 
  list-style: none;
  font-weight: 500;
  margin-left: -2rem;
} 

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn:hover {
  background-color: #46b000;
  text-decoration: none;
}

.logo {
  padding-top: 2vh;
  margin-bottom: -2vh;
}

.btngrp {
  text-align: center;
  margin-bottom: 3vh;
  align-items: center;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  text-align: center;
  font-size: medium;
  width: 400px;
  max-width: 90%;
  padding: 10px;
  margin: 5px auto 20px;
  background-color: #fffefe;
  border: solid #4caf50 2px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px green, 0px 10px 15px rgb(0, 0, 0, 0.7);
}

.input {
  margin: 5px;
  margin-bottom: 10px;
}

h1, h2 {
  margin-bottom: 1rem;
  margin: 1;
}

.welcome {
  margin-bottom: 0;
  margin: 0;
}

.formPanel2 {
  box-sizing: border-box;
  text-align: center;
  font-size: large;
  width: 400px;
  max-width: 80%;
  padding: 0px;
  padding-bottom: 0px;
  margin: 10px auto 10px;
  background-color: #fffefe;
  border: solid #4caf50 2px;
  border-radius: 15px;
  box-shadow: 0px 2px 4px green, 0 10px 15px rgb(0, 0, 0, 0.7);
}

.formPanel3 {
  box-sizing: border-box;
  font-size: large;
  width: 400px;
  max-width: 90%;
  padding: 4px;
  margin: 10px auto 5px;
  background-color: #fffefe;
  border-radius: 15px;
  border: solid #4caf50 2px;
  box-shadow: 0px 2px 5px green, 0 10px 15px rgb(0, 0, 0, 0.7);
  padding-left: 3vw;
  cursor: pointer;
}

.formPanel3:hover {
  border: solid #4caf50 5px;
  box-shadow: 0 10px 15px rgb(0, 0, 0, 0.7);
  padding: 10px;
  font-weight: 500;
  color: black;
  transition: all 0.2s ease-in-out;
}

.formPanel4 {
  box-sizing: border-box;
  text-align: center;
  font-size: large;
  width: 400px;
  max-width: 90%;
  padding: 0px;
  margin: 5px auto 5px;
  background-color: #fffefe;
  border: solid #4caf50 2px;
  border-radius: 15px;
  box-shadow: 0px 2px 4px green, 0 10px 15px rgb(0, 0, 0, 0.7);
  margin-right: 10rem;
}

.formPanel5 {
  box-sizing: border-box;
  text-align: center;
  font-size: xx-large;
  width: 400px;
  max-width: 60%;
  padding: 4px;
  margin: 10px auto 5px;
  background-color: #fffefe;
  border: solid #4caf50 2px;
  border-radius: 15px;
  box-shadow: 0px 2px 4px green, 0 10px 15px rgb(0, 0, 0, 0.7);
}

.formPanel6 {
  box-sizing: border-box;
  font-size: large;
  width: 400px;
  max-width: 70%;
  padding: 4px;
  margin: 10px auto 5px;
  background-color: #fffefe;
  border: solid #4caf50 2px;
  border-radius: 15px;
  box-shadow: 0px 2px 4px green, 0 10px 15px rgb(0, 0, 0, 0.7);
  padding-left: 10vw;
}
