

body {
    background: url(https://media.gettyimages.com/photos/falling-green-hop-isolated-on-white-background-clipping-path-full-of-picture-id1073216670?b=1&k=6&m=1073216670&s=170667a&w=0&h=TNt5ia6giGI1SH5beou3LcBrMuIjNz31ijaL0pkVThg=) ;
    background-size: cover;
  }

.input {
    background-color: white;
}